<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#{{ include.title | slugify }}').DataTable();
});</script>
{% capture datafile %}{{ include.file }}{% endcapture %}
<div class="container-fluid">
  <div class="row">

    <!-- Filters -->
    <div class="col-lg-2">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Filters</h6>
        </div>
        <div class="card-body">
          <p>Filters</p>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">{{ include.title }}</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="{{ include.title | slugify }}" width="100%" cellspacing="0">
              <thead>
                {% for entry in site.data[datafile] %}{% if forloop.first %}<tr>{% for field in entry %}<th>{{ field[0] }}</th>{% endfor %}</tr>{% endif %}{% endfor %}
              </thead>
              <tfoot>
                <tr>{% for entry in site.data[datafile] %}{% if forloop.first %}{% for field in entry %}<th>{{ field[0] }}</th>{% endfor %}{% endif %}{% endfor %}</tr>
              </tfoot>
              <tbody>
                {% for entry in site.data[datafile] %}<tr>{% for field in entry %}<td>{{ field[1] }}</td>{% endfor %}</tr>{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Map -->
    <div class="col-lg-4">
      <!-- <div class="card shadow mb-4"> -->
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Map</h6>
        </div> -->
        <!-- <div class="card-body"> -->
          {% leaflet_map {"zoom" : 4, "height": "400px"} %}
  
          {% leaflet_marker { "latitude" : 48.7596,
                          "longitude" : -113.787,
                          "popupContent" : "Glacier National Park, Montana"} %}
  
          {% leaflet_geojson {
              "type": "Feature",
              "properties": { "popupContent": "The whole state of North Dakota",
                              "href": "https://nd.gov" },
              "geometry": {
                  "type": "Polygon",
                  "coordinates": [[
                      [-104.05, 48.99],
                      [-97.22,  48.98],
                      [-96.58,  45.94],
                      [-104.03, 45.94],
                      [-104.05, 48.99] ]] } } %}
  
          {% endleaflet_map %}
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>