<!-- Map Begin -->
<div class="listing__map">
    <div id = "map"></div>
    <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43556031643!2d-118.69192431097179!3d34.020730495817475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1586670019340!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
</div>

<script>
    // Creating a map object
    var map = new L.map('map').setView({lon: -158.0001860938307, lat: 21.43945302206258}, 7);
    
    // Creating a Layer object
    var layer = new L.TileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png');
    
    // show the scale bar on the lower left corner
    L.control.scale({imperial: true, metric: true}).addTo(map);

    // Adding layer to the map
    map.addLayer(layer);

    // Adding markers
    {% for post in site.posts %}
        L.marker({lon: {{ post.longitude }}, lat: {{ post.latitude }}}).bindPopup("{{ post.title }}").addTo(map);
    {% endfor %}
 </script>
<!-- Map End -->