<link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" type="text/css">
<script src="//unpkg.com/leaflet-gesture-handling"></script>

<!-- Map Begin -->
<div class="listing__map">
    <div id = "map"></div>
</div>

<script>
    // Creating a map object
    var map = new L.map('map', {gestureHandling: true}).setView({lon: -158.0001860938307, lat: 21.43945302206258}, 7);
    
    // Creating a Layer object
    var layer = new L.TileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png');
    
    // show the scale bar on the lower left corner
    L.control.scale({imperial: true, metric: true}).addTo(map);

    // Adding layer to the map
    map.addLayer(layer);

    // Adding markers
    {% for post in site.posts %}
        L.marker({lon: {{ post.longitude }}, lat: {{ post.latitude }}}).bindPopup("{{ post.title }}").addTo(map);
    {% endfor %}
 </script>
<!-- Map End -->