<div class="listing__item position-relative" id="{{ include.id }}">
    <div class="listing__item__pic set-bg" data-setbg="{{ include.picture }}">
        {% if include.logo %}
            <img src="{{ include.logo }}" alt="">
        {% endif %}
        <!-- <div class="listing__item__pic__tag">Popular</div>
        <div class="listing__item__pic__btns">
            <a href="#"><span class="icon_zoom-in_alt"></span></a>
            <a href="#"><span class="icon_heart_alt"></span></a>
        </div> -->
    </div>
    <div class="listing__item__text">
        <div class="listing__item__text__inside">
            <a href="{{ include.url | prepend: site.baseurl }}" class="stretched-link"><h5>{{ include.title }}</h5></a>
            <!-- <div class="listing__item__text__rating">
                <div class="listing__item__rating__star">
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star"></span>
                    <span class="icon_star-half_alt"></span>
                </div>
                <h6>$40 - $70</h6>
            </div> -->
            <ul class="styled">
                <li>
                    <span class="icon_pin_alt"></span> {{ include.address }}
                </li>
                <li><span class="icon_phone"></span> {{ include.contact }} </li>
            </ul>
        </div>
        <div class="listing__item__text__info">
            <div class="listing__item__text__info__left">
                <!-- TODO: compute icon based on category -->
                <img src="assets/img/listing/list_small_icon-1.png" alt="">
                <span>
                    {% for _tag in include.tags %}{{ _tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}
                </span>
            </div>
            <div class="listing__item__text__info__right">{{ include.status }}</div>
        </div>
    </div>
</div>