<!-- Listing Section Begin -->
<section class="listing">
    <div class="listing__text__top">
        <div class="listing__text__top__left">
            <h5>Programs</h5>
            <span>18 Results Found</span>
        </div>
        <div class="listing__text__top__right">Nearby <i class="fa fa-sort-amount-asc"></i></div>
    </div>
    <div class="listing__list">
        {% for post in site.posts %}
            {% 
                include directory-listing-item.html 
                    title=post.title
                    picture=post.picture
                    logo=post.logo
                    address=post.address
                    contact=post.contact
                    categories=post.categories
                    status=post.status 
            %}
        {% endfor %}
    </div>
</section>
<!-- Listing Section End -->