<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directing | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/elegant-icons.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/flaticon.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/nice-select.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/barfiller.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/jquery-ui.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/slicknav.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
</head>