<!-- Js Plugins -->
<script src="{{ '/assets/js/jquery-3.3.1.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.nice-select.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery-ui.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.nicescroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.barfiller.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.slicknav.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/owl.carousel.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>