<!-- Js Plugins -->
<script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.nice-select.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery-ui.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.nicescroll.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.barfiller.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.slicknav.js' | relative_url }}"></script>
<script src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
<!-- <script src="js/leaflet-gesture-handling.min.js"></script> -->